.body{
    width: 70%;
    margin: auto;
}

header{
    height: 100px;
    background-image: url("../img/pattern.png");
    background-color: #4EA0FF;
    background-size: 40%;
}

#logo{
    width:150px;
    height: 150px;
    margin-left: 10px;
}

#titolo{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.link{
    color: #4EA0FF;
    text-decoration: unset;
}

.sotto-titolo{
    color: grey;
}

.small{
    font-size: 10px;
}

.foto-tim{
    margin-top: 20px;
    margin-bottom: 0px;
}

.underline{
    background-color: yellow;
}

ul{
    padding-left: 15px;
}

.list{
    margin-top: 30px;
    margin-bottom: 30px;
}

.table-header{
    background-color: #20A9E5;
    color: white;
}

.table-blue-row{
    background-color: #B1E5F2;
}

.venticinque{
    width: 25%;
    text-align: left;
}

.cinquanta{
    width: 50%;
    text-align: left;
}

